<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Whistle Blowing System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">


    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="wizard/css/form-elements.css">
    <link rel="stylesheet" href="wizard/css/style.css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="index.html">Tasikmalaya</a></div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                 <li><a href="#programs-section" class="nav-link">About</a></li>
                 <li><a href="#form" class="nav-link">Laporkan</a></li>
                <li><a href="#contact-section" class="nav-link">Hubungi Kami</a></li>
              </ul>
            </nav>
          </div>

          <div class="ml-auto w-25">
           
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
      
    </header>

    <div class="intro-section" id="home-section">
      
      <div class="slide-1" style="background-image: url('images/hero_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                  <h1  data-aos="fade-up" data-aos-delay="100">Whistle Blowing System</h1>
                  <p class="mb-4"  data-aos="fade-up" data-aos-delay="200">Laporkan perbuatan dugaan tindakan korupsi yang terjadi di Kota Bandung, baik itu Pegawai Negeri Sipil, Calon Pegawai Negeri Sipil dan pegawai lainnya.</p>
                  
                  <p data-aos="fade-up" data-aos-delay="300"><a href="#form" class="btn btn-primary py-3 px-5 btn-pill">Laporkan Dugaan</a></p>

                </div>

               
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    
    <div class="site-section courses-title" id="courses-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">Judul</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section courses-entry-wrap"  data-aos="fade-up" data-aos-delay="100">
      <div class="container">
        <div class="row">

         <div class="col-md-4">
            <div class="course bg-white h-100 align-self-stretch">
              <figure class="d-flex justify-content-center pt-4">
                <a href="course-single.html"><i class=" fa fa-bullhorn fa-5x"></i></a>
              </figure>
              <div class="course-inner-text text-center py-4 px-4">
                 <h3><a href="#form">Laporkan Dugaan</a></h3>
                <p>Lorem ipsum dolor sit amet ipsa nulla adipisicing elit. </p>
              </div>
              
            </div>
         </div>
          <div class="col-md-4">
            <div class="course bg-white h-100 align-self-stretch">
              <figure class="d-flex justify-content-center pt-4">
                <a href="course-single.html"><i class=" fa fa-bookmark  fa-5x"></i></a>
              </figure>
              <div class="course-inner-text text-center py-4 px-4">
                 <h3><a href="#">Lihat Laporan</a></h3>
                <p>Lorem ipsum dolor sit amet ipsa nulla adipisicing elit. </p>
              </div>
              
            </div>
         </div>
          <div class="col-md-4">
            <div class="course bg-white h-100 align-self-stretch">
              <figure class="d-flex justify-content-center pt-4">
                <a href="course-single.html"><i class=" fa fa-volume-control-phone  fa-5x"></i></a>
              </figure>
              <div class="course-inner-text text-center py-4 px-4">
                 <h3><a href="#contact-section">Hubungi Kami</a></h3>
                <p>Lorem ipsum dolor sit amet ipsa nulla adipisicing elit. </p>
              </div>
              
            </div>
         </div>
         

        </div>
      
      </div>
    </div>


    <div class="site-section" id="programs-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">About Us</h2>
            <p>Whistleblower adalah seseorang yang melaporkan perbuatan dugaan tindakan korupsi yang terjadi di Kota Bandung, baik itu Pegawai Negeri Sipil, Calon Pegawai Negeri Sipil dan pegawai lainnya yang bekerja di Kota Bandung.</p>
          </div>
        </div>
        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="images/undraw_youtube_tutorial.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">perlindungan dan penghargaan </h2>
            <p class="mb-4">Whistleblower mendapatkan hak perlindungan dan penghargaan serta berhak mengetahui tindak lanjut pengaduan. Hak perlindungan berupa : kerahasiaan identitas, mendapat perlindungan dari tindakan administratif kepegawaian, perlindungan atas hak-hak saksi dan pelapor sebagaimana diatur dalam ketentuan peraturan perundang-undangan. </p>
          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="images/undraw_teaching.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Unsur Pengaduan</h2>
            <p class="mb-4">Pengaduan Anda akan mudah ditindaklanjuti apabila memenuhi unsur :
              <ul>
                <li>What: Perbuatan berindikasi pelanggaran yang diketahui</li>
                <li>Where: Dimana perbuatan tersebut dilakukan</li>
                <li>When: Kapan perbuatan tersebut dilakukan</li>
                <li>Who: Siapa saja yang terlibat dalam perbuatan tersebut</li>
                <li>How: Bagaimana perbuatan tersebut dilakukan (modus, cara, dsb.)</li>
              </ul>
            </p>

          
          </div>
        </div>

      

      </div>
    </div>

    <div class="site-section bg-image overlay" id="form" style="background-image: url('images/hero_1.jpg');">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12 form-box">
            <form role="form" action="" method="post" class="f1">

              <h3>Laporkan Dugaan</h3>
              <p>Fill in the form to get instant access</p>
              <div class="f1-steps">
                <div class="f1-progress">
                    <div class="f1-progress-line" data-now-value="8.3" data-number-of-steps="4" style="width: 8.3%;"></div>
                </div>
                <div class="f1-step active">
                  <div class="f1-step-icon">1</div>
                  <p class="informasi">Persetujuan</p>
                </div>
                <div class="f1-step">
                  <div class="f1-step-icon">2</div>
                  <p class="informasi">Detail Informasi</p>
                </div>
                <div class="f1-step">
                    <div class="f1-step-icon">3</div>
                    <p class="informasi">Pihak Terlapor</p>
                </div>
                <div class="f1-step">
                  <div class="f1-step-icon">4</div>
                  <p class="informasi">Lampiran</p>
                </div>
                 <div class="f1-step">
                    <div class="f1-step-icon"><i class="fa fa-question"></i></div>
                    <p class="informasi">Quetion</p>
                </div>
                <div class="f1-step">
                    <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    <p class="informasi">social</p>
                </div>
              </div>
              
                 <fieldset>
                    <div class="card pr-3 pt-5 pb-5 mt-3  pl-3" style="font-size: 20px;">
                         Dengan ini saya sebagai whistleblower Kota Bandung, melakukan pelaporan pada whistleblowing system dengan memberikan keterangan sebenar-benarnya, tanpa tekanan dari pihak manapun, tidak ada unsur menipu ataupun niatan memberikan keterangan palsu, bersedia memantau perkembangan pengaduan yang saya lakukan dan melakukan komunikasi dengan tim pengelola whistleblowing system apabila diperlukan.
                      </div>
                      <br>
                      <div class="checkbox">
                        <label style="margin-left: 10px !important;">
                          <input type="checkbox" class="setuju" > Saya setuju dan mengerti dengan pernyataan diatas.
                          <span class="checkmark" style="height:20px; width:20px; padding-left:10px;"></span>
                        </label>
                      </div>
                      <div class="f1-buttons">
                          <button type="button" class="btn btn-next">Next</button>
                      </div>
                  </fieldset>

                  <fieldset>
                    <br><br>
                      <div class="form-group row">
                          <label class="col-md-3 col-form-label">Topik Laporan *</label>
                          <div class="col-md-9">
                              <input type="text" class="form-control">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 col-form-label">Tanggal Kejadian </label>
                          <div class="col-md-5">
                              <input type="date" class="form-control">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 col-form-label">Tempat Kejadian * </label>
                          <div class="col-md-9">
                              <input type="text" class="form-control">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 col-form-label">Uraian Kejadian * </label>
                          <div class="col-md-9">
                              <textarea class="form-control" rows="5"></textarea>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 col-form-label">Jumlah Rupiah * </label>
                          <div class="col-md-9">
                              <label class="sr-only" for="inlineFormInputGroup">Username</label>
                              <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                      <div class="input-group-text">Rp.</div>
                                  </div>
                                  <input type="text" class="form-control uang" id="inlineFormInputGroup">
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 col-form-label">Lainnya </label>
                          <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="Contoh : Bingkisan, hadiah dll. Isi dengan - (strip) jika tidak ada">
                          </div>
                      </div>
                      <div class="f1-buttons">
                          <button type="button" class="btn btn-previous">Previous</button>
                          <button type="button" class="btn btn-next">Next</button>
                      </div>
                  </fieldset>


                   <fieldset>
                    <br>
                      <div class="table-responsive">
                        <table class="table table-borderless vn-table-input rwd-table" id="tbl">
                          <thead>
                            <tr>
                              <th>Nama *</th>
                              <th>NIP</th>
                              <th>Jabatan</th>
                              <th>Unit Kerja *</th>
                              <th> <a class="btn btn-primary btn-md text-light" id="tambah" style="padding: 5px 10px; border-radius: 50%;"><i class="fa fa-plus"></i> </a></th>
                            </tr>
                          </thead>
                          <tbody class="tmp">
                            <tr>
                               <td data-th="Nama">
                                <div class="form-group">
                                  <input v-model="item.nama" name="nama_terlapor[]" type="text" class="form-control">
                                </div>
                              </td>
                              <td data-th="NIP">
                                <div class="form-group">
                                  <input v-model="item.nip" type="text" class="form-control">
                                </div>
                              </td>
                              <td data-th="Jabatan">
                                <div class="form-group">
                                  <input v-model="item.jabatan" type="text" class="form-control">
                                </div>
                              </td>
                              <td data-th="Unit Kerja">
                                <div class="form-group">
                                  <input v-model="item.unitKerja" name="unit_kerja[]" type="text" class="form-control">
                                </div>
                              </td>
                              <td data-th="Aksi">
                                 <a class="btn btn-danger btn-md text-light" style="padding: 5px 10px; border-radius: 50%;"><i class="fa fa-times"></i> </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="f1-buttons">
                          <button type="button" class="btn btn-previous">Previous</button>
                          <button type="button" class="btn btn-next">Next</button>
                      </div>
                  </fieldset>

                  <fieldset>
                       <br>
                       <div class="table-responsive">
                          <table class="table vn-table-input rwd-table" id="tbl-file">
                            <thead>
                              <tr>
                                <th>Nama Dokumen *</th>
                                <th>File</th>
                                <th> <a class="btn btn-primary btn-md text-light" id="tambah-file" style="padding: 5px 10px; border-radius: 50%;"><i class="fa fa-plus"></i> </a></th>
                              </tr>
                            </thead>
                            <tbody class="tmp-file">
                              <tr>
                                 <td data-th="Nama">
                                  <div class="form-group">
                                    <input v-model="item.nama" name="nama_terlapor[]" type="text" class="form-control">
                                  </div>
                                </td>
                                
                                <td data-th="Unit Kerja">
                                    <label  for="file-upload" class="custom-file-upload form-control">
                                        <i class="fa fa-cloud-upload pr-2"></i> <span class="text-file">No file chosen</span>
                                    </label>
                                    <input id="file-upload" type="file" name="file" />
                                  </div>
                                </td>
                                <td data-th="Aksi">
                                   <a class="btn btn-danger btn-md text-light" style="padding: 5px 10px; border-radius: 50%;"><i class="fa fa-times"></i> </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      <div class="f1-buttons">
                          <button type="button" class="btn btn-previous">Previous</button>
                          <button type="submit" class="btn btn-submit">Submit</button>
                      </div>
                  </fieldset>
                   <fieldset>
                      <h4>Social media profiles:</h4>
                      <div class="form-group">
                          <label class="sr-only" for="f1-facebook">Facebook</label>
                          <input type="text" name="f1-facebook" placeholder="Facebook..." class="f1-facebook form-control" id="f1-facebook">
                      </div>
                      <div class="form-group">
                          <label class="sr-only" for="f1-twitter">Twitter</label>
                          <input type="text" name="f1-twitter" placeholder="Twitter..." class="f1-twitter form-control" id="f1-twitter">
                      </div>
                      <div class="form-group">
                          <label class="sr-only" for="f1-google-plus">Google plus</label>
                          <input type="text" name="f1-google-plus" placeholder="Google plus..." class="f1-google-plus form-control" id="f1-google-plus">
                      </div>
                      <div class="f1-buttons">
                          <button type="button" class="btn btn-previous">Previous</button>
                          <button type="submit" class="btn btn-submit">Submit</button>
                      </div>
                  </fieldset>
                   <fieldset>
                      <h4>Social media profiles:</h4>
                      <div class="form-group">
                          <label class="sr-only" for="f1-facebook">Facebook</label>
                          <input type="text" name="f1-facebook" placeholder="Facebook..." class="f1-facebook form-control" id="f1-facebook">
                      </div>
                      <div class="form-group">
                          <label class="sr-only" for="f1-twitter">Twitter</label>
                          <input type="text" name="f1-twitter" placeholder="Twitter..." class="f1-twitter form-control" id="f1-twitter">
                      </div>
                      <div class="form-group">
                          <label class="sr-only" for="f1-google-plus">Google plus</label>
                          <input type="text" name="f1-google-plus" placeholder="Google plus..." class="f1-google-plus form-control" id="f1-google-plus">
                      </div>
                      <div class="f1-buttons">
                          <button type="button" class="btn btn-previous">Previous</button>
                          <button type="submit" class="btn btn-submit">Submit</button>
                      </div>
                  </fieldset>
            
            </form>
          </div>
      </div>
      </div>
    </div>



    



    <div class="site-section bg-light" id="contact-section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-7">


            
            <h2 class="section-title mb-3">Message Us</h2>
            <p class="mb-5">Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>
          
            <form method="post" data-aos="fade">
              <div class="form-group row">
                <div class="col-md-6 mb-3 mb-lg-0">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Subject">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <textarea class="form-control" id="" cols="30" rows="10" placeholder="Write your message here."></textarea>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  
                  <input type="submit" class="btn btn-primary py-3 px-5 btn-block btn-pill" value="Send Message">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    
     
    <footer class="footer-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>About OneSchool</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur ut hic ipsum et veritatis corrupti. Itaque eius soluta optio dolorum temporibus in, atque, quos fugit sunt sit quaerat dicta.</p>
          </div>

          <div class="col-md-3 ml-auto">
            <h3>Links</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">Courses</a></li>
              <li><a href="#">Programs</a></li>
              <li><a href="#">Teachers</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <h3>Subscribe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt iure iusto architecto? Numquam, natus?</p>
            <form action="#" class="footer-subscribe">
              <div class="d-flex mb-5">
                <input type="text" class="form-control rounded-0" placeholder="Email">
                <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
              </div>
            </form>
          </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  
    
  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <!-- Include SmartWizard JavaScript source -->
  <script type="text/javascript" src="src/js/jquery.smartWizard.min.js"></script>
  
  <script src="js/main.js"></script>

  <script src="wizard/js/jquery.backstretch.min.js"></script>
  <script src="wizard/js/retina-1.1.0.min.js"></script>
  <script src="wizard/js/scripts.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){



    })
  </script>
    
  </body>
</html>